table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  /* margin: 0px auto; */
}

th,
td {
  border: solid 2px #000;
  padding: 10px;
}

.table_header {
  background-color: #bbb;
}

.odd_color {
  background-color: #ddd;
}
