h2 {
   margin: 15px 0;
}

.overlay {
	background: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	opacity: .5;
}

.visible {
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	overflow: hidden;
	z-index: 2000;
	width: 400px;
	padding: 10px 30px;
    margin-left: -230px;
    border: 1px solid #000;
}

#win .controls {
	float: right;
	padding-top: 5px;
	padding-bottom: 10px;
}

.controls button{
	display: inline-block;
	margin-left: 15px;
}

.descriptionModal{
    height: 150px;
    resize: none;
}

.modalItem {
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    padding: 3px 4px;
    width: 100%;
    margin: 15px 0px;
    border: 1px solid #000;
}

/* #win button[type="button"]:hover {
	cursor: pointer;
	color: navy;
	text-decoration: underline;
} */

/* #win h2 {
	text-align: center;
	color: #555;
} */